.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;

  @media (max-width: 500px){
    display: block;
  }
}
  
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  max-width: 500px;
}

.skill-brick {
  background-color: #912F00;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.skill-brick:hover {
  transform: scale(1.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
}

button {
  background-color: #6A2815;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #912F00;
}

h2 {
  margin: 20px;
}

/* Theme */
body, .light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

/* Modales dark theme */
.dark-theme .modal {
  background-color: #333333;
  color: #ffffff;
}