header {
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Raleway", serif;
    justify-content: space-around;
    z-index: 2;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
    color: #BBB193;
}